.cursor-pointer {
	cursor: pointer;
}

.image-fit {
	object-fit: contain;
}

html.dev body {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	min-width: 320px;
	place-items: center;

	#liferay-marketplace-custom-element {
		flex: 1;
	}
}

.section-disabled {
	opacity: 0.7;
	pointer-events: none;
}

.loading-container {
	text-align: center;
	z-index: 100;
}

.loading-overlay {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.loading-overlay:before {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(3px);
	background: rgba(255, 255, 255, 0.7);
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

.loading-text {
	width: 300px;
}

.marketplace-publisher-header {
	margin-top: 1rem !important;
}

.mkt {
	&-gap-1 {
		gap: 1rem;
	}
}

.product-banner {
	background: var(--neutral-01, #f7f7f8);
	border-radius: 10px;

	.object-fit-cover {
		border-radius: 8px;
		object-fit: contain;
	}

	.price-text {
		color: var(--neutral-10, #282934);
		font-size: 13px;
		line-height: 16px;

		.license-tag {
			background: var(--status-info-lighten-2, #e6ebf5);
			border-radius: 4px;
			color: var(--status-info-darken-2, #1c3667);
			font-size: 11px;
			font-style: normal;
			font-weight: 400;
			line-height: 16px;
		}

		&-value {
			font-size: 18px;
			font-weight: 600;
			letter-spacing: 0;
			line-height: 20px;
			text-align: right;
		}
	}

	.sub-text {
		color: var(--neutral-08, #54555f);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 330px;
	}

	small {
		&.subscription-banner-text {
			color: #54555f !important;
		}
	}

	&-title {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 330px;
	}
}

.secondary-text {
	color: #54555f;
}
