.dsr-welcome-block-component {
	padding-bottom: 5rem;
}

.dsr-welcome-block-component h2::after {
	border-bottom: 4px solid var(--primary, #0B5FFF);
	content: '';
	display: inline-block;
	margin: 0 0 0 0.3rem;
	width: 1.5rem;
}

.dsr-welcome-block-component .sticker-user-icon {
	object-fit: cover;
	object-position: center;
}

.dsr-welcome-block-component ul.list-unstyled {
	list-style-type: none;
}