<div class="clearfix component-paragraph dsr-welcome-block-component text-break">
	<div data-lfr-editable-id="element-text-1" data-lfr-editable-type="rich-text">
		<h2 class="mb-4">WELCOME</h2>
	</div>

	<div data-lfr-editable-id="element-text-2" data-lfr-editable-type="rich-text">
		<p>
			Hi Team! I've created this workspace to help us collaborate more effectively and ensure our success as we go through the onboarding process together.
		</p>

		<ul class="list-unstyled p-0">
			<li>
				✔️ It will contain all relevant resources and next steps.
			</li>
			<li>
				✔️ @ mention me in any comments you leave, and I will be notified of them.
			</li>
			<li>
				✔️ Feel free to share this workspace URL with other people internally.
			</li>
		</ul>

		<p>
			Looking forward to a successful partnership!
		</p>
	</div>

	<div class="align-items-center d-flex">
		<img alt="" class="sticker sticker-user-icon sticker-xxl" data-lfr-editable-id="element-image-1" data-lfr-editable-type="image" src="[resources:placeholder.png]" />

		<div class="ml-3" data-lfr-editable-id="element-text-3" data-lfr-editable-type="rich-text">
			<span class="d-block text-weight-bold">
				Andry Ford
			</span>
			<span class="d-block text-3">
				Sales Manager
			</span>
		</div>
	</div>
</div>