@import 'cadmin-variables';

.layout-page-template-entry-preview-modal {
	.bg-secondary-d2 {
		background-color: $cadmin-secondary-d2;
	}

	.btn-xl {
		font-size: 2rem;
		height: 4rem;
		width: 4rem;
	}
}
