@import 'atlas-variables';

.content-section-scroll {
	max-height: 600px;
	overflow: auto;

	@include media-breakpoint-down(sm) {
		max-height: none;
		overflow: visible;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.option-group {
	> label + label {
		margin-top: 1rem;
	}
}
