html#{$cadmin-selector} .cadmin .page-editor__keyboard-movement-preview {
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	z-index: $keyboardMovementPreviewZIndex;

	&__content {
		align-items: center;
		background-color: $cadmin-white;
		border: 1px solid $cadmin-gray-500;
		border-radius: 4px;
		box-shadow: unquote(
			'0 8px 16px hsl(from #{$cadmin-gray-900} h s l / 0.16)'
		);
		display: flex;
		font-family: $cadmin-font-family-base;
		font-size: 0.75rem;
		font-weight: 600;
		height: 32px;
		opacity: 0;
		padding: 8px;
		width: 120px;
	}
}
