.liferay-sites-dropdown {
	background: var(--white);
	border-radius: 0.25rem;
	display: none;
	margin-top: 2.75rem;
	position: absolute;
	text-align: -webkit-left;
	text-align: left;
	width: 15rem;
	z-index: 10;
}

.sites-container {
	background: inherit;
	border: none;
	border-radius: var(--border-radius-sm);
	color: var(--color-neutral-10);
	cursor: pointer;
	max-height: 2.5rem;
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
}

.sites-container:hover {
	background-color: #edf3fe !important;
}

.sites-container .caret-bottom-icon svg {
	height: 1.5rem;
	padding-bottom: 0.1rem;
	width: 1.5rem;
}

.sites-container[aria-expanded='true'] .caret-bottom-icon svg {
	transform: rotate(180deg);
	transition: transform 0.5s;
}

.sites-container[aria-expanded='false'] .caret-bottom-icon svg {
	opacity: 0.7;
	transform: rotate(360deg);
	transition: transform 0.5s;
}

.sites-container .caret-bottom-icon,
.sites-container .sites-icon {
	opacity: 0.5;
}

.sites-container:hover .caret-bottom-icon,
.sites-container:hover .sites-icon {
	opacity: 1;
}

.sites-container:hover .liferay-sites {
	color: #0053f0 !important;
}

.sites-container:hover .liferay-sites .liferay-sites-text,
.sites-container.show .liferay-sites .liferay-sites-text {
	opacity: 1;
}

.sites-container:hover .sites-icon svg {
	fill: #0053f0 !important;
}
