@import 'atlas-custom-properties/_variables';

$c: '.ddm-field-options';

#{$c} {
	align-items: start;
	border-color: $light-d2;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	padding: 16px 22px 16px 15px;

	&.dragging {
		background: $white;
		box-shadow: 0 1px 50px unquote('hsl(from #{$black} h s l / 0.35)');
		height: 65px;
		position: absolute;
		width: 300px;
		z-index: 9999;

		.ddm-option-entry {
			.panel-secondary {
				border-color: transparent;
			}
		}
	}

	.form-group {
		margin: 0;
		width: 100%;

		label,
		p {
			display: none;
		}

		.form-control {
			padding-right: map-get($close, 'width');
		}

		.key-value-editor {
			label,
			p {
				color: $gray-600;
				display: inline-block;
				margin-right: 5px;
			}

			input {
				background: transparent;
				border: none;
				color: $gray-600;
				display: inline-block;
				outline: none;

				&.disabled {
					cursor: not-allowed;
				}
			}

			label,
			p,
			input {
				font-size: 11px;
			}
		}
	}

	.close-modal {
		font-size: 8px;
		position: absolute;
		right: 0;
		top: 4px;
	}

	// Drag and drop options styles

	.ddm-source-dragging {
		opacity: 0.4;
	}

	.ddm-options-drag {
		cursor: grab;

		&.disabled {
			cursor: inherit;
		}
	}

	.lexicon-icon-drag {
		color: $gray-500;
		font-size: 16px;
		margin-left: -8px;
		margin-top: 4px;
	}

	&.dragging {
		cursor: grabbing;
	}

	> div {
		position: relative;
		width: 100%;
	}
}

.ddm-options-target {
	background: $blue-l5;
	border: solid 2px $blue-l2;
	height: 10px;
	margin: 6px 0;
	opacity: 0;
	width: 100%;

	&.targetOver {
		opacity: 1;
	}
}
