<section class="tax-highlighted-actions">
	<h2 class="tax-highlighted-actions-title">
		<svg aria-hidden="true" class="tax-highlighted-actions-icon" viewBox="0 0 24 24">
			<path d="M4 20h4l10-10-4-4L4 16Z" />
			<path d="M14 6l4-4 4 4-4 4Z" />
		</svg>

		<span data-lfr-editable-id="title" data-lfr-editable-type="text">Gestiones destacadas</span>
	</h2>

	<div class="tax-highlighted-actions-body" data-lfr-editable-id="actions" data-lfr-editable-type="rich-text">
		<ul>
			<li><a href="#">Presentar la declaración</a></li>
		</ul>
	</div>

	<p class="tax-highlighted-actions-footer">
		<a data-lfr-editable-id="footerLink" data-lfr-editable-type="link" href="#">Todas las gestiones</a>
	</p>
</section>