.published-apps-dashboard-page {
	&-container {
		display: flex;
		gap: 2rem;
		padding: 0;
	}
}

.license-icon-button {
	background: #fbfcfe;
	border: 1px solid #e7efff;
	border-radius: 10px;
	color: #0b5fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
}
