@import 'atlas-custom-properties/_variables';

.lfr-forms {
	&__form-view-ddm-target {
		align-items: center;
		display: flex;
		height: 16px;
		width: 100%;

		&.lfr-forms__form-view-ddm-target-over > span {
			background-color: $primary;
			border-radius: 2px;
			display: inline-block;
			height: 2px;
			width: 100%;
		}
	}

	&__form-view-field-repeatable-dnd {
		padding: 4px 4px 0;
		position: relative;

		&:focus,
		&:focus-within,
		&:hover {
			&::after {
				border: 0.125rem solid $primary;
				border-radius: 0 4px 4px;
				bottom: -4px;
				content: '';
				left: 0;
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 0;
			}

			> .lfr-forms__form-view-field-topbar {
				display: flex;

				.lexicon-icon-drag {
					cursor: grab;
					height: 16px;
					width: 16px;
				}
			}
		}

		.ddm-field-types-fieldset__nested {
			margin: 0;
		}
	}

	&__form-view-field-dragging {
		background-color: $white;
		border: 2px dashed $gray-500;
		border-radius: 4px;
		box-shadow: 0 0 3px 0 unquote('hsl(from #{$black} h s l / 0.2)');
		opacity: 0.7;
		padding: 2px 6px 6px !important;
		z-index: 10;
	}

	&__form-view-field-topbar {
		align-items: center;
		background-color: $primary;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		color: $white;
		display: none;
		font-size: 12px;
		font-weight: 600;
		height: 28px;
		left: 0;
		padding: 0 9px 0 8px;
		position: absolute;
		top: -28px;
		z-index: 10;
	}
}
