$baseline: 8px;
$horizontal-spacing: 35px;
$transition-time: 0.5s;

$form-header-placeholder-color: $gray-400;
$form-header-text-color: $gray-500;

$form-management-bar-height: 63px;
$form-navigation-bar-height: 48px;
$form-sidebar-header: 104px;
