.app-details {
	&-body-container {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(auto-fill, minmax(511px, 510px));

		h5 {
			color: #282934;
		}

		p {
			color: #54555f;
			font-size: 13px;
		}
	}

	&-page-container {
		width: 100%;
	}
}
