.ai-hub-tabs {
	.component-tabs > .navbar {
		margin-left: 30px;
	}
}

.agent-definition-item {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	&__description,
	&__model {
		font-weight: initial;
		margin: 0;
	}

	&__labels {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		margin-top: 0.25rem;

		.label {
			text-transform: none;
		}
	}
}
