<footer class="tax-footer">
	<div class="tax-container tax-footer-columns">
		<section class="tax-footer-column">
			<h2 class="tax-footer-column-title" data-lfr-editable-id="columnTitle1" data-lfr-editable-type="text">Oficina Tributaria</h2>

			<div class="tax-footer-column-links" data-lfr-editable-id="columnLinks1" data-lfr-editable-type="rich-text">
				<ul>
					<li><a href="#">Accesibilidad</a></li>
					<li><a href="#">Aviso legal</a></li>
				</ul>
			</div>
		</section>

		<section class="tax-footer-column">
			<h2 class="tax-footer-column-title" data-lfr-editable-id="columnTitle2" data-lfr-editable-type="text">Contacta con nosotros</h2>

			<div class="tax-footer-column-links" data-lfr-editable-id="columnLinks2" data-lfr-editable-type="rich-text">
				<ul>
					<li><a href="#">Asistencia y Cita</a></li>
				</ul>
			</div>
		</section>

		<section class="tax-footer-column">
			<h2 class="tax-footer-column-title" data-lfr-editable-id="columnTitle3" data-lfr-editable-type="text">Ayuda</h2>

			<div class="tax-footer-column-links" data-lfr-editable-id="columnLinks3" data-lfr-editable-type="rich-text">
				<ul>
					<li><a href="#">Buscar</a></li>
				</ul>
			</div>
		</section>

		<section class="tax-footer-column">
			<h2 class="tax-footer-column-title" data-lfr-editable-id="columnTitle4" data-lfr-editable-type="text">Enlaces de interés</h2>

			<div class="tax-footer-column-links" data-lfr-editable-id="columnLinks4" data-lfr-editable-type="rich-text">
				<ul>
					<li><a href="#">Ministerio de Hacienda</a></li>
				</ul>
			</div>
		</section>
	</div>

	<div class="tax-footer-baseline">
		<div class="tax-container tax-footer-baseline-inner">
			<p class="tax-footer-updated">
				<span data-lfr-editable-id="updatedLabel" data-lfr-editable-type="text">Página actualizada:</span>
				${.now?string["dd/MM/yyyy"]}
			</p>
		</div>
	</div>
</footer>