.lfr__objects-custom-vertical-bar {
	&-content {
		.c-slideout-show.sidebar {
			overflow: auto;
		}

		> .sidebar:has(.lfr-objects__object-field-default-value-enabled) {
			width: 500px !important;
		}
	}

	&--left-closed {
		transform: translateX(-100%);
		transition: transform 0.5s;
	}

	&--left-open {
		top: 121px;
		transform: translateX(0);
		transition: transform 0.5s;
	}

	&--right-closed {
		transform: translateX(100%);
		transition: transform 0.5s;
	}

	&--right-open {
		top: 121px;
		transform: translateX(0);
		transition: transform 0.5s;
	}
}
