<div class="clearfix component-paragraph dsr-our-team-block-component text-break">
	<div data-lfr-editable-id="element-text-1" data-lfr-editable-type="rich-text">
		<h2 class="mb-4">OUR TEAM</h2>
	</div>

	<ul class="align-content-top d-flex flex-wrap justify-content-center list-unstyled">
		[@buildOurTeam index=1 numberOfItems=configuration.numberOfItems/]
	</ul>
</div>

[#macro buildOurTeam index numberOfItems]
	<li class="dsr-our-team-entry" data-index="${index}">
		<img alt="" data-lfr-editable-id="entry-image-${index}" data-lfr-editable-type="image" src="[resources:placeholder.png]" />

		<div class="p-3">
			<div class="text-weight-semi-bold" data-lfr-editable-id="entry-primary-text-${index}" data-lfr-editable-type="rich-text">
				Name ${index}
			</div>

			<div class="text-secondary" data-lfr-editable-id="entry-secondary-text-${index}" data-lfr-editable-type="rich-text">
				Role ${index}
			</div>
		</div>
	</li>

	[#if (index < numberOfItems)]
		[@buildOurTeam index=index+1 numberOfItems=numberOfItems/]
	[/#if]
[/#macro]