RewriteRule /admin$ /group/control_panel/manage?p_p_id=com_liferay_osb_faro_admin_web_portlet_FaroAdminPortlet
RewriteRule ^/(.{1,1000}/)?-/blogs/rss\?&amp;(.{0,1000}) %{context-path}/$1-/blogs/rss\?$2
RewriteRule ^/(.{1,1000}/)?blog/blogs/rss(.{0,1000}) %{context-path}/$1blog/-/blogs/rss$2
RewriteRule ^/(.{1,1000}/)?tunnel-web(.{0,1000}) %{context-path}/$1api$2
RewriteRule ^/api(.*) /o/analytics-cloud-api$1
RewriteRule ^/endpoints/(.*) /o/faro/main/project/$1/endpoints
RewriteRule ^/favicon.ico$ /o/osb-faro-theme/images/favicon.ico
RewriteRule ^/web/guest/community/forums/message_boards(.{0,2000})$ %{context-path}/web/guest/community/forums/-/message_boards$1
RewriteRule ^/workspace/.{0,2000}/endpoints/(.*) /o/faro/main/project/$1/endpoints

#
# Catch-all
#
RewriteRule ^/workspace/(.{0,2000})(.*) /web/guest/home/?redirect=/workspace/$1