<div class="carousel-card">
	<div class="carousel-card-container">
		<div class="carousel-card-tag" data-lfr-editable-id="carousel-card-tag" data-lfr-editable-type="text">
			Tag
		</div>

		<div class="carousel-card-image">
			<img alt="" data-lfr-editable-id="carousel-card-img" data-lfr-editable-type="image" />
		</div>

		<div class="carousel-card-information">
			<div class="carousel-card-text">
				<div class="carousel-card-title" data-lfr-editable-id="carousel-card-title" data-lfr-editable-type="text">
					Title
				</div>

				<div class="carousel-card-description" data-lfr-editable-id="carousel-card-description" data-lfr-editable-type="text">
					Description
				</div>
			</div>

			<div class="carousel-card-cta">
				<a href="${configuration.ctaURL}">
					<div data-lfr-editable-id="carousel-card-cta" data-lfr-editable-type="text">
						CTA
					</div>
				</a>

				<div class="carousel-cta-icon">
					<svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
						<mask height="8" id="mask0_2182_2882" maskUnits="userSpaceOnUse" style="mask-type:alpha" width="13" x="1" y="4">
							<path d="M11.243 10.9888L13.4805 8.75127C13.818 8.3794 13.8305 7.72315 13.4805 7.32002L11.243 5.08252C10.193 4.15127 8.90234 5.57627 9.81172 6.51377L10.3336 7.03565H2.74609C1.41797 7.03565 1.41797 9.03565 2.74609 9.03565H10.3336L9.81172 9.55752C8.87734 10.5513 10.2773 11.9169 11.243 10.9888Z" fill="#6B6C7E" />
						</mask>

						<g mask="url(#mask0_2182_2882)">
							<rect fill="#0B5FFF" height="16" width="16" />
						</g>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>