.icon-root {
	font-size: 1rem;

	@each $name, $color in $colors {
		&.#{'' + $name}-color {
			fill: $color;
		}
	}

	&.icon-size-sm {
		font-size: 0.5rem;
	}

	&.icon-size-md {
		font-size: 2rem;
	}

	&.icon-size-lg {
		font-size: 3rem;
	}

	&.icon-size-xl {
		font-size: 4.5rem;
	}

	&.icon-size-xxl {
		font-size: 8rem;
	}

	&.icon-size-xxxl {
		font-size: 12rem;
	}

	&.failure {
		stroke: $error;
	}

	&.failure-invert {
		fill: $error;
	}

	&.success {
		fill: $successLighten63;
		stroke: $success;
	}

	&.success-invert {
		fill: $success;
		stroke: $successLighten63;
	}
}

.custom-structure {
	color: $cadmin-blue-l1;
}

.basic-content {
	color: $cadmin-secondary;
}

.blog {
	color: $cadmin-green;
}

.knowledge-base {
	color: $cadmin-pink;
}

.document-default {
	color: $cadmin-secondary;
}

.document-compressed {
	color: $cadmin-secondary;
}

.document-multimedia {
	color: $cadmin-red;
}

.document-table {
	color: $cadmin-teal-l1;
}

.document-image {
	color: $cadmin-red-l1;
}

.document-presentation {
	color: $cadmin-orange-l1;
}

.document-vector {
	color: $cadmin-purple-l1;
}

.document-text {
	color: $cadmin-cyan-l1;
}

.document-code {
	color: $cadmin-pink-l1;
}

.folder {
	color: $cadmin-gray-600;
}
