@mixin tooltip-arrow-bottom {
	background-color: $white;
	bottom: -2px;
	content: '';
	height: 6px;
	left: 50%;
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	width: 6px;
}

@mixin generatePropertyGroupLoop(
	$array,
	$cssProperty,
	$classPrefix: 'color--'
) {
	@each $a in $array {
		$className: nth($a, 1);
		$color: nth($a, 2);

		@include generatePropertyGroup(
			$color,
			$cssProperty,
			#{$classPrefix + $className}
		);
	}
}

@mixin generatePropertyGroup($color, $cssProperty, $className) {
	&.#{$className} {
		#{$cssProperty}: $color;
	}
}
