.wizard-page {
	background-color: white;
	height: 100vh;

	&__content-col {
		display: flex;
		height: 100%;
		margin: auto;
		max-width: 608px;
		padding: 8rem 1rem 0 1rem;
		width: 100%;
	}

	&__onboarding-col {
		background-color: $lightBackground;
		border: 1px solid $mainLighten74;
		border-radius: 8px;
		min-height: calc(100vh - 100px);
		padding: 0;
	}

	&__onboarding-image {
		background-image: url('/o/osb-faro-web/dist/sprite.svg#ac_onboarding-usage');
		background-position: 150px 0;
		background-repeat: no-repeat;
		background-size: 730px 100%;
		height: 924px;
	}

	@media screen and (max-width: 768px) {
		&__onboarding-col {
			display: none;
		}
	}

	@media screen and (max-width: 576px) {
		&__content-col {
			padding: 0 1rem;
		}
	}
}
