.mini-cart-request-quote {
	padding: 0 1em 1em;
}

.product-detail-actions {
	.request-quote-wrapper {
		margin-bottom: 0.5rem;

		button {
			font-size: 1.125rem;
			margin: 0 1.25rem;
			padding: 0.6rem 1.5rem;
		}
	}
}

main.minium {
	.mini-cart-request-quote {
		background: white;
		padding: 0 !important;

		button {
			padding: 1rem;
			text-transform: uppercase;
		}
	}

	.product-detail-actions .request-quote-wrapper {
		margin-bottom: 0;

		button {
			height: 3.75rem;
			margin-left: 0;
			margin-right: 1.25rem;
		}
	}
}
