@import '../../../css/variables';

@mixin sidebar-offset($offset) {
	.sidebar .sidebar-body {
		height: calc(100vh - #{$offset});
	}
}

.data-layout-builder-sidebar {
	.sidebar {
		box-shadow: none;

		.sidebar-body {
			height: calc(100vh - var(--control-menu-container-height) - 168px);

			.component-tbar {
				height: auto;
				min-height: auto;
				position: relative;
				top: auto;
				width: auto;
			}
		}

		.sidebar-header {
			padding-bottom: 0;
			.component-title {
				h2 {
					font-size: 1.25rem;
					line-height: 1.25;
					margin-bottom: 0;
				}
			}
		}
	}

	.lfr-ddm-form-container .ddm-field-options-container .ddm-options-target {
		margin: 2px 0;
	}

	&.display-settings {
		@include sidebar-offset(
			calc(
				var(--control-menu-container-height) + 168px - #{$displaySettingsHeight}
			)
		);
	}
}

.portlet-forms .data-layout-builder-sidebar {
	@include sidebar-offset(calc(var(--control-menu-container-height) + 216px));

	&.display-settings {
		@include sidebar-offset(
			calc(var(--control-menu-container-height) + 168px)
		);
	}
}
