<section class="tax-info-links">
	<h2 class="tax-info-links-title">
		<svg aria-hidden="true" class="tax-info-links-icon" viewBox="0 0 24 24">
			<circle cx="12" cy="12" r="9" />

			<path d="M12 11v6" />
			<path d="M12 7.75v.5" />
		</svg>

		<span data-lfr-editable-id="title" data-lfr-editable-type="text">Información</span>
	</h2>

	<div class="tax-info-links-body" data-lfr-editable-id="links" data-lfr-editable-type="rich-text">
		<ul>
			<li><a href="#">Normativa aplicable</a></li>
		</ul>
	</div>
</section>