<section class="tax-hero-banner">
	<img class="tax-hero-banner-image" data-lfr-editable-id="image" data-lfr-editable-type="image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />

	<div class="tax-hero-banner-body">
		<h1 class="tax-hero-banner-title" data-lfr-editable-id="title" data-lfr-editable-type="text">Electronic office</h1>

		<div class="tax-hero-banner-text" data-lfr-editable-id="body" data-lfr-editable-type="rich-text">
			<p>File your returns and follow your cases online.</p>
		</div>
	</div>
</section>