.inline-text-input .form-control-inline {
	font-size: 28px;
}

.inline-text-input .form-control-inline:disabled {
	background-color: transparent;
}

.inline-text-input .form-control-inline:disabled::placeholder {
	color: #cdced9;
}

.inline-text-input .form-control-inline:not(:focus) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.inline-text-input .inline-text-border {
	border-left: 2px solid #9393a4;
}

.inline-text-input:not(:focus-within) .form-control-inline:hover,
.inline-text-input .inline-text-border:focus-within {
	border-color: transparent;
}

.inline-text-input .inline-text-border:has(.form-control[disabled]) {
	border-color: #cdced9;
}

.inline-text-input .inline-text-border:has(.form-control[readonly]) {
	border-left: none;
	margin-left: -16px;
}

.inline-text-input .has-error .inline-text-border {
	border-color: #da1414;
}

.inline-text-input .localized-text {
	border-left: 2px solid #9393a4;
}

.inline-text-input .localized-text.text-info {
	border-color: #2e5aac;
}
