@import 'atlas-variables';

// ---------- Colors ----------

$propertyGroupsColors: (
	'context': $purple,
	'user-organization': $orange,
);

// ---------- Sizes ----------

$pageContentMaxWidth: 1248px;
$productMenuWidth: 320px;
$sidebarWidth: 380px;
$sidebarWidthSmall: 320px;
$topHeaderHeight: 56px;
$topHeaderHeightWithWarning: 112px;

$gap: 8px;

// ---------- Animations ----------

$segmentsTransition: 200ms ease-in-out;
