<nav aria-label="${configuration.pagebarAriaLabel}" class="bg-white component-tbar tbar">
	<div class="container-fluid">
		<ul class="tbar-nav">
			<li class="tbar-item">
				<lfr-drop-zone data-lfr-drop-zone-id="sidebarTrigger"></lfr-drop-zone>
			</li>
			<li class="tbar-item">
				<svg class="ai-hub-lexicon-icon lexicon-icon lexicon-icon-trash" aria-hidden="true"> <use xlink:href="${themeDisplay.pathThemeImages}/lexicon/icons.svg#stars"></use> </svg>			</li>
			<li class="tbar-item tbar-item-expand text-left">
				<div class="tbar-section">
					<div class="ai-hub-title component-title middle" data-lfr-editable-id="sidebarTitle" data-lfr-editable-type="text">
						AI Hub
					</div>
				</div>
			</li>
			<li class="tbar-item">
				<lfr-drop-zone data-lfr-drop-zone-id="bulkActionsMonitor"></lfr-drop-zone>
			</li>
			<li class="tbar-item">
				[@liferay_portlet["runtime"]
					portletName="com_liferay_product_navigation_applications_menu_web_internal_portlet_ProductNavigationApplicationsMenuPortlet"
				/]
			</li>
			<li class="tbar-item">
				[@liferay.user_personal_bar /]
			</li>
		</ul>
	</div>
</nav>