@import 'atlas-custom-properties/_variables';

.ddm-field-renderer {
	&--error {
		background-color: $danger-l2;
		border: 2px dashed $danger-l1;
		border-radius: 4px;
		color: $danger;
		padding: 20px;
	}

	&--title {
		margin-bottom: 0;
	}

	&--button {
		margin-top: 15px;
	}
}
