@import 'atlas-custom-properties/_variables';

// Measures
$baseline: 1rem;

// Colors
$active-blue: $primary;
$dark-blue: unquote('hsl(from #{$blue-l3} h s l / 0.3)');
$light-blue: $blue-l2;
$strong-blue: $blue-d3;

$light-400: $gray-300;
$light-blue-100: $blue-l5;
