.app-flow-list {
	&-container {
		background-color: #f7f7f8;
		border-radius: 14px;
		height: fit-content;
		width: fit-content;
	}

	&-ul {
		list-style-type: none;
		margin-top: 1rem;
		padding-right: 40px;

		&:first-child {
			padding-top: 12px;
		}
	}
}

.app-flow-list-item {
	&-container {
		align-items: center;
		display: flex;
		margin-bottom: 2.5rem;
	}

	&-icon {
		height: 0.75rem;
		margin-right: 0.625rem;
		width: 0.75rem;

		&-checked {
			filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg)
				brightness(104%) contrast(97%);
			height: 0.75rem;
			margin-right: 0.625rem;
			width: 0.75rem;
		}

		&-selected {
			filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg)
				brightness(104%) contrast(97%);
			height: 0.75rem;
			margin-right: 0.625rem;
			width: 0.75rem;
		}
	}

	&-text {
		color: #999aa3;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1rem;

		&-checked {
			color: #0b5fff;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1rem;
		}
	}
}
